@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&&display=swap");
body {
  background: #24292e;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: Montserrat;
  color: #f1f1f1;
  position: absolute;
  left: 82%;
  top: 90%;
  letter-spacing: 2px;
  z-index: 3;
}

.bg-lg {
  background: -webkit-gradient(linear, left top, right top, from(#c94b4b), to(#4b134f));
  background: linear-gradient(to right, #c94b4b, #4b134f);
  background: -webkit-gradient(linear, left top, right top, from(#1a2a6c), color-stop(#b21f1f), to(#fdbb2d));
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
  background: linear-gradient(to right, #642b73, #c6426e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-gradient(linear, left top, right top, from(#283c86), to(#45a247));
  background: linear-gradient(to right, #283c86, #45a247);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(to right, #ee0979, #ff6a00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightside {
  position: absolute;
  height: 100vh;
  top: 0%;
  left: calc(100% - 220px);
  background: #2f363d;
  min-width: 220px;
  padding-top: 60px;
}

.rightside table {
  color: #999999;
  text-align: left;
  border: none;
  width: 100%;
}

.rightside table tr {
  padding: 5px;
}

.rightside table tr:nth-child(even) {
  background: #24292e;
}

.rightside table td, .rightside table th {
  padding: 10px;
}

.rightside ul {
  list-style: none;
  padding: 10px;
}

.rightside ul li {
  padding: 10px;
}

.rightside .no-trans {
  color: #777;
}

.hding {
  font-weight: 600;
  color: #999999;
  text-transform: uppercase;
}

.sideb {
  height: 100vh;
  background: #2f363d;
  position: absolute;
  max-width: 220px;
  padding-top: 0px;
  z-index: 3;
}

.sideb .active {
  background: #0984e3;
  border-radius: 3px;
  color: #f1f1f1;
  -webkit-box-shadow: 0 2px 8px rgba(140, 140, 140, 0.16), 0 3px 6px rgba(140, 140, 140, 0.23);
          box-shadow: 0 2px 8px rgba(140, 140, 140, 0.16), 0 3px 6px rgba(140, 140, 140, 0.23);
}

.sideb .acc-ico {
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px  0px;
  margin-bottom: 10px;
}

.sideb .acc-ico i {
  margin-left: auto;
}

.sideb ul {
  list-style: none;
  padding: 0px 15px;
  margin: 0;
}

.sideb ul li {
  padding: 10px;
  color: #999999;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sideb ul li i {
  margin-right: 10px;
}

.sideb ul li:hover {
  border-radius: 3px;
  color: #f1f1f1;
}

.main {
  margin: 0 220px;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

.main .frrow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
}

.main .blgraph {
  max-height: 250px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.main .blwid {
  background: #2f363d;
  color: #b1b1b1;
  padding: 20px;
  max-height: 250px;
  border-radius: 4px;
}

.main .blwid h2 {
  color: #f2f2f2;
  font-size: 1.5em;
  font-weight: 500;
  margin: 10px 5px;
}

.main .blwid p {
  font-size: 12px;
}

.main .blwid button {
  font-size: 16px;
  padding: 10px 14px;
  background: #16a085;
  border: none;
  border-radius: 8px;
  color: #f1f1f1;
  margin-top: 10px;
  cursor: pointer;
}

.crds {
  position: relative;
}

.crds i {
  color: #f1f1f1;
  padding: 2px;
  background: rgba(22, 22, 22, 0.6);
  position: absolute;
  left: 1%;
  top: 45%;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.crds h3 {
  color: #999999;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.dbcard {
  padding: 20px;
  color: #f1f1f1;
  margin: 15px;
  border-radius: 4px;
  border: none;
  min-width: 190px;
}

.dbcard p {
  font-size: 14px;
}

.cvisa {
  background: -webkit-gradient(linear, left top, left bottom, from(#e77e21d9), to(#e77e21d9)), url("https://www.pngfind.com/pngs/m/548-5488065_world-map-indonesia-png-transparent-png.png");
  background: linear-gradient(#e77e21d9, #e77e21d9), url("https://www.pngfind.com/pngs/m/548-5488065_world-map-indonesia-png-transparent-png.png");
  background-size: cover;
}

.cmast {
  background: -webkit-gradient(linear, left top, left bottom, from(#2ecc71d9), to(#2ecc71d9)), url("https://www.pngfind.com/pngs/m/548-5488065_world-map-indonesia-png-transparent-png.png");
  background: linear-gradient(#2ecc71d9, #2ecc71d9), url("https://www.pngfind.com/pngs/m/548-5488065_world-map-indonesia-png-transparent-png.png");
  background-size: cover;
}

.crup {
  background: -webkit-gradient(linear, left top, left bottom, from(#3498dbd9), to(#3498dbd9)), url("https://lh3.googleusercontent.com/proxy/QMAxOyAJbZ8qBENwRwnn-TYgFxdXXc50hGRwXX4d1t3HPiKL9tLhLz5TtUUFIg3aThzVqTdLzh34JeXa3Lc0RMbiVi7qGSgsrIzoHggrHd2TSet7dxo5Wi03V6mJwV6JiGBOsuJAHRUGmXKiH-A0lklHF5Zcavsl103LopFp6Rk_mD0aswMU6pu0jLUL1KbiiYB_9GY2TCzxMNo");
  background: linear-gradient(#3498dbd9, #3498dbd9), url("https://lh3.googleusercontent.com/proxy/QMAxOyAJbZ8qBENwRwnn-TYgFxdXXc50hGRwXX4d1t3HPiKL9tLhLz5TtUUFIg3aThzVqTdLzh34JeXa3Lc0RMbiVi7qGSgsrIzoHggrHd2TSet7dxo5Wi03V6mJwV6JiGBOsuJAHRUGmXKiH-A0lklHF5Zcavsl103LopFp6Rk_mD0aswMU6pu0jLUL1KbiiYB_9GY2TCzxMNo");
  background-size: cover;
}

.act-card {
  padding: 2px 5px;
  color: #f1f1f1;
  background: #45a247;
  border-radius: 3px;
  margin-top: 10px;
  display: inline-block;
}

#opr-1, #opr-2 {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  outline: none;
  overflow: hidden;
}

.flxcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#ygn {
  max-width: 220px;
  overflow: hidden;
}

.acc-num, .acc-ifsc {
  font-size: 15px !important;
  line-height: 25px;
}

.acc-num span, .acc-ifsc span {
  text-decoration: underline;
  cursor: pointer;
  color: #0984e3;
}

.opt {
  margin: 5px 20px;
  padding: 10px;
  background: #2f363d;
  border-radius: 4px;
}

.opt h3 {
  color: #d1d1d1;
  font-size: 1.4em;
}

.opt-pay {
  color: #b1b1b1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.opt-pay--cont {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.opt-pay--cont i {
  width: 40px;
  height: 40px;
  color: #f1f1f1;
  border-radius: 50%;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto;
}

.opt-pay--cont p {
  color: #b1b1b1;
  cursor: pointer;
}

.opt-pay--cont:hover {
  background: rgba(140, 140, 140, 0.16);
}

.adsss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adsss .side1 {
  overflow: hidden;
  margin-right: 20px;
}

.adsss .side2 {
  overflow: hidden;
}

.crdtr {
  color: #2ecc71;
}

.debttr {
  color: #e74c3c;
}

.top-b {
  position: absolute;
  z-index: 3;
  width: 100%;
  background: #2f363d;
  padding: 5px;
  border-bottom: 0.3px solid #313131;
}

.top-b .avt {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f1f1f1;
}

.top-b .ntf {
  font-size: 27px;
  margin-right: 10px;
}

.top-b span {
  font-size: 21px;
  color: #fefefe;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #2ecc71;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-b i {
  float: right;
}
/*# sourceMappingURL=index.css.map */